<div class="portrait">
	<div class="slider">
		<div class="slide rocky_mountain_natl_park"></div>
		<div class="slide big_sur"></div>
		<div class="slide his_and_hers"></div>
	</div>

	<div class="slidernav left"></div>
	<div class="slidernav right"></div>
	
	<div class="banner">
		<div>Kathryn & Raymond</div>
		<div>October 16, 2016</div>
	</div>
</div>

<div class="widget">
	<div package="Wedding.widgets" class="Countdown"></div>
</div>

<div package="Wedding.modules" class="OurStory"></div>

<div package="Wedding.modules" class="TheWeddingParty"></div>

<div package="Wedding.modules" class="EventInformation"></div>	

<div package="Wedding.modules" class="TravelInfo"></div>

<div class="RSVP"></div>

<div class="Gifts"></div>


