<h2><span>Gifts</span></h2>


<div>
	<p>
	We're very happy that you'll be joining us in our wedding.   While we would appreciate any gift, we're very fortunate to already
	have most of the essential household goods.  The only exceptions are that we will probably upgrade some furniture and make
	a few home renovations.
	</p>
	<p>
	With this in mind, we hope that you'll join a tradition that is very common in Asia, and gift in cash, rather than in
	material.  These funds will go towards the few items mentioned above, and our honeymoon.
	We can't wait to travel together as husband and wife.
	</p>
</div>

