<div class="story">
	<h2><span>Their Story</span></h2>
	<div class="chapter">
		<h5>How we met</h5>
		<div class="kathryn">
			<span class="who">Kathryn tells it like this...</span>
			<p>
			Yes, we met online.  I checked my Inbox and got a message he “liked” me. 
			His profile had cute photos of him cycling and playing with his nephew. 
			I decided to be bold and message him rather than wait for him to message me.
			After several long e-mails, we met over lunch to eat Malaysian food. 
			He was cute in his blue shirt and he was easy to talk to.
			</p>
			<p>
			While Raymond was flying to India, he certainly surprised me with the flowers. 
			It was very romantic and sweet.  However, I was most impressed when he cooked for me for the first time. 
			It was a very delicious pork chop dinner.</p>
		</div>
		<div class="raymond">
			<span class="who">Raymond recalls...</span>
			<p>
			Kathryn and I mutually liked each other on OKCupid.  I must have seen her profile
			on OKC's version of the Tinder app. I was lucky to not accidentally swipe her to the wrong side.
			A few days later, I received a message saying "Hi, apparently we like each other...".
			3 weeks later, our first date was lunch at Banana Leaf.
			Watching her walk towards me, my heart beat faster. Maybe it skipped a beat and needed to catch up, which is not
			normal for me on dates.  She wore a very
			pretty Summer dress.  Ugh! I wore a t-shirt, a little too casual. I don't think she minded though so I got away with
			one.		
			</p>
			<p>
			From there, we skipped a week for her to attend a wedding, but we met each weekend after that.
			That momentum was paused when I had to take a trip to India.
			I was unclear whether she wanted to continue when I returned, so I made sure she knew I was thinking about her.
			On a layover in Korea, I ordered some flowers to be delivered.
			</p>
		</div>
	</div>
	<div class="clearFloat"></div>
	<div class="chapter">
		<h5>In those two years...</h5>
		<div class="kathryn">
			<span class="who">Kathryn says...</span>
			<p>While balancing my busy school and work schedule, we were able to hang out with friends, 
			travel, hike, cycle, bowl, and eat lots of yummy food.  Raymond opened the doors of the bicycling world for me. 
			I learned bicycling pants were very important especially for our 50 mile Tour de Cure ride.
			</p>
		</div>
		<div class="raymond">
			<span class="who">Raymond says...</span>
			<p>
			In the two years that followed, I'd be the guy to do maintenance on her car, cook dinners, and whatever
			I could do to try to impress my lady.  Well, she's still mine so it seems to have worked out
			</p>
		</div>
	</div>
	<div class="clearFloat"></div>
	<div class="chapter">
		<h5>The Proposal</h5>
		<div class="kathryn">
			<span class="who">Kathryn's perspective</span>
			<p>
			Flash forward to Thanksgiving weekend,  Raymond had told me he setup a date night in the city.
			 I thought it was a bit strange since it wasn’t the anniversary of our first date.  
			 He claimed it was the anniversary of our first kiss.  
			 I was swamped with work and finishing my master’s project for the past few weeks.  
			 So I thought it was sweet of him to give me a break and a chance to dress up. 
			 </p>
			 <p> 
			 Friday after Thanksgiving we had dinner by the San Francisco Ferry building. 
			 After dinner, we walked out to the pier and saw a couple who asked us to help them take a picture of them 
			 with the lit up Bay Bridge.  Since it was such a beautiful backdrop, I was going to ask them to take a photo 
			 of us.  However, Raymond said not yet, which I thought was a bit strange.
			 </p>
			 <p>
			 Then Raymond started talking about how we met and our future.  Then silly me, I flippantly said something like 
			 “It sounds like you are going to propose to me.”  Next thing I know, he got down on one knee in front of me 
			 and asked me to marry him. I said yes.
			 </p>
			<p>
			We didn’t get a picture together by the Bay Bridge, but he got a photo of me and the ring.
			</p>
		</div>
		<div class="raymond">
			<span class="who">Raymond's mindset</span>
			<p>
			Initially, I thought a heart shaped diamond engagement ring would be nice, but my friend Trang talked me out of it,
			so did Eva. My coworker, Hanna, also had some input.
			<p>
			<p>
			I proposed on Black Friday 2015. It was a day off, and coincided with our first kiss two years prior.
			Before we left for dinner in the City, the ring was in my fleece jacket pocket.
			I thought, "Oh my gosh, I think Kathryn could find this", so I told her I was going to the car to change my shoes, and used the 
			opportunity to hide the ring in the trunk of my car.  She was now ready to go. 
			When I turned around to lock the door of my apartment. Kathryn, from behind, exclaimed, "I'm cold!", then
			stuck her hands in my jacket pocket, where the ring was just a minute before.
			</p>
			<p>
			I was really just winging it, no speech planned whatsoever, only the thoughts about our future in my mind.
			After our nice Peruvian dinner, we walked along the waterfront.  Based on the conversation topic I initiated,
			she joked that it sounded like I was going to propose.  I proposed to Kathryn on Pier 7 at the Embarcadero.
			She said "yes" pretty quickly.  When she called her parents to let them know, she was surprised to find out that they
			already knew, and that in fact, they've been waiting all day wondering when she was going to call.
			</p>
			<p>
			Ah yes, the day before, on Thanksgiving, I struggled to get her parents on the phone to ask for their blessing.
			</p>
		</div>
	</div>
	<div class="clearFloat"></div>
</div>
