<div class="story">
	<h2>Their Story</h2>
	<div class="story-version kathryn">
	
	</div>
	<div class="story-version raymond">
			
	</div>
	<p>
		Raymond liked her, Kathryn liked him back, or maybe it was in the other order.
		It was OKCupid's version of the Tinder app, and Raymond didn't make the mistake of swiping left.
		A few days later, Kathryn emailed, <i>"Hi, we apparently like each other..."</i>.
	</p>
	<p>
		Forward two years... he initiates a date-night, which she thought was out of the ordinary. Though it was
		the anniversary of their first kiss, so it wasn't completely random. After dinner, a walk along the
		waterfront on a quiet, chilly night; a conversation ensued, which Kathryn would claim was sort of strange.
		Raymond gets on a knee and the rest speaks for itself (You should get Kathryn's version of events... it sounds better).
	</p>
</div>
