<div class="story">
	<h2>Their Story</h2>
	<div class="story-version kathryn">
		<h3>Kathryn says...</h3>
		<p>Stay tuned...</p>
	</div>
	<div class="story-version raymond">
		<h3>Raymond says...</h3>
		<p>
		Kathryn and I met a few weeks after mutually liking each other on OKCupid.  Our first date was lunch
		at Banana Leaf.  When she walked up to meet me for the first time, I would say my heart started beating
		faster, and no, that wasn't normal on first dates.  She wore a dress, and very pretty.  I wore a t-shirt,
		a little too casual.  Nevermind that though..  I tried to drag out that date as long as I could.
		I believe I first encountered her profile while using OKC's version of Tinder.  Lucky, I didn't accidentally swipe her to the wrong
		side.  A few days later, while in Vegas, I receive a message from her saying something to the effect of
		"Hi, apparently we like each other...".
		</p>
		<p>
		Suddenly, I was the lucky guy that met Kathryn every weekend, us gradually getting to know each other.
		The momentum was in my favor, until I took a trip to India. I was unclear whether she wanted to continue
		when I got back, so I made sure to have some flowers delivered to her while I was on a layover in Korea;
		just so she knows that I'm thinking about her.
		</p>
	</div>
	<div class="clearFloat"></div>
</div>
