<h2><span>The Wedding Party</span></h2>

<div class="bridesmaids">
	<div class="group">Bridesmaids</div>
	<div class="gallery">
		<div class="person" name="Christy Ng"></div>
		<div class="person" name="Rebecca Reh"></div>
		<div class="person" name="Eva Lee"></div>
	</div>
</div>
<div class="groomsmen">
	<div class="group">Groomsmen</div>
	<div class="gallery">
		<div class="person" name="Eli Martin Lara"></div>
		<div class="person" name="Elbert Chan"></div>
		<div class="person" name="Chung Yeoh"></div>
	</div>
</div>

<div class="cannotSeeThis">
	<div class="person" enlarged="false">
		<div class="photo"></div>
		<div class="name">Donald Thumper</div>
		
		<div class="role">Wedding Crasher</div>
		<div class="about">
			Hahahah, ho ho ho....
		</div>
	</div>

	<div class="person" enlarged="true">
		<div class="photo"></div>
		<div class="info">
			<div class="name">Donald Thumper</div>
			<div class="role">Wedding Crasher</div>
			<div class="about">Hahahah, ho ho ho....</div>
		</div>
	</div>

</div>

<div style="clear:both;" ></div>
