<h2>The Wedding Party</h2>
<div class="gallery">
</div>
<div class="cannotSeeThis">
	<div class="person" enlarged="false">
		<div class="photo"></div>
		<div class="name">Donald Thumper</div>
		<div class="role">Wedding Crasher</div>
		<div class="about">
			Hahahah, ho ho ho....
		</div>
	</div>

	<div class="person" enlarged="true">
		<div class="photo"></div>
		<div class="info">
			<div class="name">Donald Thumper</div>
			<div class="role">Wedding Crasher</div>
			<div class="about">Hahahah, ho ho ho....</div>
		</div>
	</div>

</div>

<div style="clear:both;" ></div>
