<h2>Travel</h2>

<div class="information">

	<div class="topic">
		<h3>Air Travel</h3>
		<div>
			San Jose Airport (SJC) is 15 minutes (10 miles) from Cupertino, CA.
			Recommended airport for domestic travel. 
			Note: Southwest airlines has 2 free checkin in bags.
		</div>
		<div>
			San Francisco Airport (SFO) is 40 minutes (33 miles) from Cupertino, CA.
		</div>
	</div> 
	
	<!-- Hotel --!>
	<div class="topic">
		<h3>Accomodations</h3>
		<div>
		We have negotiated special rates at Maple Inn in Sunnyvale, CA from Oct 13 to 16.
		The following hotel prices are including tax and fees. These prices for reservations made prior to Sept 13, 2016.
		The Double and Single room have the same price.
			<table>
				<tr><td>Thursday, Oct 13, 2016</td><td>$186.75</td></tr>
				<tr><td>Friday, Oct 14, 2016</td><td>$120.45</td></tr>
				<tr><td>Saturday, Oct 15, 2016</td><td>$120.45</td></tr>
				<tr><td>Sunday, Oct 16, 2016</td><td>$120.45</td></tr>
			</table>
			<div>To reserve:<ul>
				<li>online: go to <a href="www.mapletreeinn.com" target="_blank">www.mapletreeinn.com</a> and enter the group number <i>910</i> 
					into the Group Promo Code section. This will pull up the discounted rates and available room types.</li></ul>	
				<li>Via phone: call 408-720-9700 and tell them you are booking with the <i>“Ng Chan Wedding”</i> </li></ul>
	   		 	<p>You can also look at AirBnb or travel websites (TripAdvisor.com , Kayak.com ...) for hotel deals.</p>
	   		 </div>
   		 </div>
	</div>

	<div> class="topic">
		<h3>Ground Transportation.</h3>
	    <div>
	    	<p>
	    	If you don't have a rental car, <a href="www.caltrain.com" target="_blank">Caltrain</a> will
	   		take you anywhere between San Francisco and San Jose. <a href="www.uber.com/cities/san-francisco" target="_blank">Uber</a>
	  		and <a href="www.lyft.com/cities/silicon-valley" target="_blank">Lyft</a> is available almost anywhere in the Bay Area.
	  		</p>
	    	<p> Within SF, you can take Uber, Lyft, MUNI, BART, Cable car, Street Car and Buses </p>>
	    
		    <div> http://www.caltrain.com/ </div> 
		    <div> http://www.bart.gov/ </div> 
		    <div> https://www.sfmta.com/ </div>
		    <div> https://www.uber.com/cities/san-francisco </div>
		    <div> https://www.lyft.com/cities/silicon-valley </div>
	    </div>
	  </div>
    
     <div> Things to Do.</div>
     <div> Silicon Valley </div>
     <div> In the South Bay, you mainly eat Asian food, shop at Great Mall (outlet) or 
     Valley Fair Mall & Santana Row, go hiking or biking in Rancho San Antonio, and go drive around
     Tech companies (Google, Apple etc...). You can't go into the companies unless you know someone that works there.
     It is home to Levi's Football Stadium. 
     
     <div> San Franciso </div>
     <div> Twin Peaks - one of best views of SF </div>
     <div> Conzelman Rd, Marin County - one of best views of Golden Gate Bridge </div>

     <div> Go here for fun free or affordable Bay Area events: http://sf.funcheap.com/  
     and http://sf.funcheap.com/ </div>
     <div> Go watch Beach Blanket Babylon </div>
    



</div>