<h2><span>Travel & Accommodations</span></h2>

<div class="topic air-travel">
	<h3>Air Travel</h3>
	<div class="prev"></div>
	<div class="info">
		<div class="inner">
			<p>
			San Jose Airport (SJC) is 15 minutes (10 miles) from Cupertino, CA.
			Recommended airport for domestic travel. 
			Note: Southwest airlines has 2 free checkin in bags.
			</p>
			<p>
			San Francisco Airport (SFO) is 40 minutes (33 miles) from Cupertino, CA.
			</p>
		</div>
	</div>
	<a class="seeMore">... See more &darr;</a>
	<a class="hideOverflow">Collapse &uarr;</a>
</div> 

<div class="topic accommodations">
	<h3>Accomodations</h3>
	<div class="prev"></div>
	<div class="info">
		<div class="inner">
			<p>
				Maple Tree Inn
				<br/> 711 E. El Camino Real, Sunnyvale, CA 94087
				<br/> (408) 720-9700 
				<br/> <a href="http://www.mapletreeinn.com" target="_blank">Website</a>
			</p>	
			<p>
				We've negotiated special rates at Maple Tree Inn in Sunnyvale.
				Reservations must be made by Sept 13, 2016. 
			</p>	
			<p>
			<div class="table">
				<div class="row">
					<div class="cell">Thursday, Oct 13, 2016</div>
					<div class="cell">$186.75</div>
				</div>
				<div class="row">
					<div class="cell">Friday, Oct 14, 2016</div>
					<div class="cell">$120.45</div>
				</div>
				<div class="row">
					<div class="cell">Saturday, Oct 15, 2016</div>
					<div class="cell">$120.45</div>
				</div>
				<div class="row">
					<div class="cell">Sunday, Oct 16, 2016</div>
					<div class="cell">$120.45</div>
				</div>
			</div>
			</p>
			<p>
				Prices include taxes and fees. Double and Single rooms are the same price.
				
				To reserve:
				<ul>
					<li>
					Online: go to <a href="http://www.mapletreeinn.com" target="_blank">Website</a>
					and enter the group number <i>910</i> into the Group Promo Code section.
					This will pull up the discounted rates and available room types.
					</li>	
					<li>
						Via phone: call 408-720-9700 and tell them you are booking with the <i>“Ng Chan Wedding”</i>
					</li>
				</ul>
	   		 	You can also look at AirBnb or travel websites (TripAdvisor.com , Kayak.com ...) for hotel deals.
	   		 </p>
			<p>
	   		 	
   		 	</p>
   		 </div>
	 </div>
 	<a class="seeMore">... See more &darr;</a>
	<a class="hideOverflow">Collapse &uarr;</a>
</div>

<div class="topic ground-transport">
	<h3>Ground Transportation.</h3>
	<div class="prev"></div>
    <div class="info">
    	<div class="inner">
	    	<p>
	    	If you don't have a rental car, <a href="http://www.caltrain.com" target="_blank">Caltrain</a> will
	   		take you anywhere between San Francisco and San Jose. 
	   		</p>
			<p>
	   		<a href="http://www.uber.com/cities/san-francisco" target="_blank">Uber</a>
	  		and <a href="http://www.lyft.com/cities/silicon-valley" target="_blank">Lyft</a> is available almost anywhere in the Bay Area.
	  		</p>
	    	<p> Within SF, you can also take <a href="http://www.bart.gov" target="_blank">BART</a> or  	
	    	<a href="http://www.sfmta.com/" target="_blank">MUNI/Bus/Cable Car</a>
	    	</p>
	    	    
	    </div>
    </div>
	<a class="seeMore">... See more &darr;</a>
	<a class="hideOverflow">Collapse &uarr;</a>
</div>

<div class="clearFloat"></div>

