<h2>Travel & Accommodation</h2>

<div class="topic air-travel">
	<h3>Air Travel</h3>
	<div class="prev"></div>
	<div class="info">
		<div class="inner">
			<p>
			San Jose Airport (SJC) is 15 minutes (10 miles) from Cupertino, CA.
			Recommended airport for domestic travel. 
			Note: Southwest airlines has 2 free checkin in bags.
			</p>
			<p>
			San Francisco Airport (SFO) is 40 minutes (33 miles) from Cupertino, CA.
			</p>
		</div>
	</div>
	<a class="seeMore">... See more &darr;</a>
	<a class="hideOverflow">Collapse &uarr;</a>
</div> 

<!-- Hotel --!>
<div class="topic accommodations">
	<h3>Accomodations</h3>
	<div class="prev"></div>
	<div class="info">
		<div class="inner">
			<p>
				We've negotiated special rates at Maple Inn in Sunnyvale, CA October 13 through 16.
				The following prices are set for reservations made prior to Sept 13, 2016, and
				include taxes and fees.
			</p>
			<div class="table">
				<div class="row">
					<div class="cell">Thursday, Oct 13, 2016</div>
					<div class="cell">$186.75</div>
				</div>
				<div class="row">
					<div class="cell">Friday, Oct 14, 2016</div>
					<div class="cell">$120.45</div>
				</div>
				<div class="row">
					<div class="cell">Saturday, Oct 15, 2016</div>
					<div class="cell">$120.45</div>
				</div>
				<div class="row">
					<div class="cell">Sunday, Oct 16, 2016</div>
					<div class="cell">$120.45</div>
				</div>
			</div>
			<p>
				To reserve:
				<ul>
					<li>
					Online: go to <a href="www.mapletreeinn.com" target="_blank">www.mapletreeinn.com</a>
					and enter the group number <i>910</i> into the Group Promo Code section.
					This will pull up the discounted rates and available room types.
					</li>	
					<li>
						Via phone: call 408-720-9700 and tell them you are booking with the <i>“Ng Chan Wedding”</i>
					</li>
				</ul>
	   		 	You can also look at AirBnb or travel websites (TripAdvisor.com , Kayak.com ...) for hotel deals.
	   		 </p>
			<p>
	   		 	* Double and Single room are priced the same
   		 	</p>
   		 </div>
	 </div>
 	<a class="seeMore">... See more &darr;</a>
	<a class="hideOverflow">Collapse &uarr;</a>
</div>

<div class="topic ground-transport">
	<h3>Ground Transportation.</h3>
	<div class="prev"></div>
    <div class="info">
    	<div class="inner">
	    	<p>
	    	If you don't have a rental car, <a href="www.caltrain.com" target="_blank">Caltrain</a> will
	   		take you anywhere between San Francisco and San Jose. <a href="www.uber.com/cities/san-francisco" target="_blank">Uber</a>
	  		and <a href="www.lyft.com/cities/silicon-valley" target="_blank">Lyft</a> is available almost anywhere in the Bay Area.
	  		</p>
	    	<p> Within SF, you can take Uber, Lyft, MUNI, BART, Cable car, Street Car and Buses </p>
	    
		    <div> http://www.caltrain.com/ </div> 
		    <div> http://www.bart.gov/ </div> 
		    <div> https://www.sfmta.com/ </div>
		    <div> https://www.uber.com/cities/san-francisco </div>
		    <div> https://www.lyft.com/cities/silicon-valley </div>
	    </div>
    </div>
	<a class="seeMore">... See more &darr;</a>
	<a class="hideOverflow">Collapse &uarr;</a>
</div>

<div class="clearFloat"></div>

<div class="topic things-to-do">
	<h3>Things to Do...  Things to See...</h3>
	<div class="prev"></div>
	<div class="info">
		<div class="inner">
			<h4>Silicon Valley</h4>
			<p>
				In the South Bay, you mainly eat Asian food, shop at Great Mall (outlet) or 
	 			Valley Fair Mall & Santana Row, go hiking or biking in Rancho San Antonio,
	 			and go drive around Tech companies (Google, Apple etc...). You can't go into the
	 			companies unless you know someone that works there.  It is home to Levi's Football Stadium.
	 		</p>
			<h4>San Franciso</h4>
			<ul>
				<li>Twin Peaks - one of best views of SF</li>
				<li>Conzelman Rd, Marin County - one of best views of Golden Gate Bridge</li>
			</ul>
			<h4>Random Ideas</h4>
	 		<ul>
	 			<li>Go here for fun free or affordable Bay Area events: http://sf.funcheap.com/</li>
	 			<li>Go watch Beach Blanket Babylon </li>
	 		</ul>
 		</div>
 	</div>
	<a class="seeMore">... See more &darr;</a>
	<a class="hideOverflow">Collapse &uarr;</a>
</div>