/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* latin */
@font-face {
  font-family: 'Cedarville Cursive';
  font-style: normal;
  font-weight: 400;
  src: local('Cedarville Cursive'), local('Cedarville-Cursive'), url(https://fonts.gstatic.com/s/cedarvillecursive/v7/cuCe6HrkcqrWTWTUE7dw-4iNpYP4ormdS933dwqOPYU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Just Me Again Down Here';
  font-style: normal;
  font-weight: 400;
  src: local('Just Me Again Down Here'), local('JustMeAgainDownHere'), url(https://fonts.gstatic.com/s/justmeagaindownhere/v8/sN06iTc9ITubLTgXoG-kc9LxhifvsZyFlIktPLD8SVhSjxrNWc6TL5x1_u3zzrgH.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Just Me Again Down Here';
  font-style: normal;
  font-weight: 400;
  src: local('Just Me Again Down Here'), local('JustMeAgainDownHere'), url(https://fonts.gstatic.com/s/justmeagaindownhere/v8/sN06iTc9ITubLTgXoG-kcxBxoRNZkC32eJ50uEAK8oQC1LhKU8qFLLahJuQDJSaO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(https://fonts.gstatic.com/s/greatvibes/v4/6q1c0ofG6NKsEhAc2eh-3aE8kM4xWR1_1bYURRojRGc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(https://fonts.gstatic.com/s/greatvibes/v4/6q1c0ofG6NKsEhAc2eh-3Ygp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* opentype */
@font-face {
  font-family: 'Texgyrechorus';
  src: url("/fonts/texgyrechorus-mediumitalic.otf") format("opentype");
}
@font-face {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  src: local('Handlee Regular'), local('Handlee-Regular'), url(https://fonts.gstatic.com/s/handlee/v5/juOaTHBX9N7mCQYS68pw6QLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@handlee-family {
  font-family: 'Handlee', helvetica, arial, sans-serif;
}
.default-body-font {
  font-family: 'PT Sans', helvetica, arial, sans-serif;
  font-size: 13pt;
}
.default-section-titles {
  font-family: 'Great Vibes', cursive;
  font-size: 24pt;
  color: #614051;
}
body div.website {
  margin: 65px auto;
  width: 900px;
  font-family: 'PT Sans', helvetica, arial, sans-serif;
  font-size: 13pt;
}
body div.website .portrait {
  width: 100%;
  height: 275px;
  background-position: 0 50%;
  background-size: cover;
  background-image: url("../img/his_hers_original_scale.jpg");
  background-repeat: no-repeat;
  color: white;
}
body div.website .portrait div:nth-child(1) {
  font-family: 'Great Vibes', cursive;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding-top: 100px;
}
body div.website .portrait div:nth-child(2) {
  font-family: 'Texgyrechorus', helvetica, arial, sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 0 20px;
}
div[package='Wedding.modules'] h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 24pt;
  color: #614051;
}
.clearFloat {
  content: " ";
  display: block;
  clear: both;
}
div.Content[package='Wedding.modules'] {
  width: 100%;
}
div.Content[package='Wedding.modules'] div.widget {
  width: 100%;
  margin: 10px;
  margin-bottom: 35px;
}
div.Content[package='Wedding.modules'] div.widget div[package='Wedding.widgets'].Countdown {
  font-size: 30px;
  height: 40px;
  padding: 0;
  width: 550px;
  margin: 0 auto;
}
div.Content[package='Wedding.modules'] div.widget div[package='Wedding.widgets'].Countdown div {
  float: left;
  color: #614051;
}
div.Content[package='Wedding.modules'] div.widget div[package='Wedding.widgets'].Countdown div.unit {
  background-color: #614051;
  width: 45px;
  height: 100%;
  margin: 0 10px 0 0px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
div.Content[package='Wedding.modules'] div.widget div[package='Wedding.widgets'].Countdown div.unit div {
  text-align: center;
  width: 100%;
  color: white;
}
div.Content[package='Wedding.modules'] div.widget div[package='Wedding.widgets'].Countdown div.unit div:nth-child(1) {
  font-family: 'Texgyrechorus', helvetica, arial, sans-serif;
  font-size: 24px;
}
div.Content[package='Wedding.modules'] div.widget div[package='Wedding.widgets'].Countdown div.unit div:nth-child(2) {
  font-family: 'PT Sans', helvetica, arial, sans-serif;
  font-size: 13pt;
  font-size: 8pt;
}
div.Content[package='Wedding.modules'] div.widget div[package='Wedding.widgets'].Countdown > div:last-child {
  font-size: 20pt;
  height: 50px;
}
div.Content[package='Wedding.modules'] div.widget:after {
  content: " ";
  display: block;
  clear: both;
}
div.Content[package='Wedding.modules'] div.sections {
  max-width: 90%;
  min-width: 600px;
  min-height: 500px;
  margin: 10px;
  display: none;
  background-color: white;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
div.Content[package='Wedding.modules'] div.sections > div {
  display: none;
}
div.Content[package='Wedding.modules'] div.sections iframe {
  opacity: 1;
}
div[package='Wedding.modules'].EventInformation .information {
  color: #614051;
}
div[package='Wedding.modules'].EventInformation .information div.location h4 {
  margin-bottom: 5px;
}
div.Footer[package='Wedding.modules'] {
  width: 100%;
  height: 50px;
  background-color: #614051;
  color: white;
}
div.Footer[package='Wedding.modules'] div.copyright {
  text-align: center;
  vertical-align: middle;
  line-height: 3.5em;
}
div.Header[package='Wedding.modules'] {
  background-color: #614051;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
}
div.Header[package='Wedding.modules'] div.sections {
  margin: 0 auto;
  width: 900px;
}
div.Header[package='Wedding.modules'] div.sections ul {
  margin: 0;
}
div.Header[package='Wedding.modules'] div.sections ul li {
  font-size: 18px;
  list-style: none;
  float: left;
  margin: 0 30px 0 0;
  padding: 12pt;
  cursor: pointer;
  color: white;
  font-family: 'Texgyrechorus', helvetica, arial, sans-serif;
}
div.Header:after {
  content: " ";
  display: block;
  clear: both;
}
div.OurStory[package='Wedding.modules'] {
  width: 100%;
}
div.OurStory[package='Wedding.modules'] .story {
  color: #614051;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids .group,
div[package='Wedding.modules'].TheWeddingParty .groomsmen .group {
  font-family: 'Texgyrechorus', helvetica, arial, sans-serif;
  font-size: 20pt;
  color: #614051;
  float: left;
  width: 200px;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids .gallery,
div[package='Wedding.modules'].TheWeddingParty .groomsmen .gallery {
  float: left;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids .gallery .person,
div[package='Wedding.modules'].TheWeddingParty .groomsmen .gallery .person {
  cursor: pointer;
  float: left;
  margin: 5px;
  background-color: #614051;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;
  color: white;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids .gallery .person .photo,
div[package='Wedding.modules'].TheWeddingParty .groomsmen .gallery .person .photo {
  width: 200px;
  height: 200px;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids .gallery .person .photo img,
div[package='Wedding.modules'].TheWeddingParty .groomsmen .gallery .person .photo img {
  display: none;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids .gallery .person .role,
div[package='Wedding.modules'].TheWeddingParty .groomsmen .gallery .person .role {
  display: none;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids .gallery .person .about,
div[package='Wedding.modules'].TheWeddingParty .groomsmen .gallery .person .about {
  display: none;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids .gallery:after,
div[package='Wedding.modules'].TheWeddingParty .groomsmen .gallery:after {
  content: " ";
  display: block;
  clear: both;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids:after,
div[package='Wedding.modules'].TheWeddingParty .groomsmen:after {
  content: " ";
  display: block;
  clear: both;
}
div[package='Wedding.modules'].TheWeddingParty .cannotSeeThis {
  display: none;
}
.person .photo {
  background-image: url('http://www.solarworlds.co.uk/photo/photos/20080222_PurpleOrchids_700x700med.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.person .photo img {
  display: none;
}
.pageModal.containing-box {
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.pageModal.containing-box .container .person .photo {
  float: left;
  min-width: 200px;
  min-height: 200px;
  max-width: 500px;
  max-height: 500px;
  margin: 10px;
}
.pageModal.containing-box .container .person .photo img.show {
  display: inline;
}
.pageModal.containing-box .container .person .info {
  float: left;
  width: 400px;
  height: 100%;
}
.pageModal.containing-box .container .person .info div {
  margin: 10px;
}
.pageModal.containing-box .container .person .info .name {
  width: 100%;
  font-family: 'Texgyrechorus', helvetica, arial, sans-serif;
  color: #614051;
  font-size: 18pt;
}
.pageModal.containing-box .container .person .info .role {
  color: #614051;
}
.pageModal.containing-box .container .person .info .about {
  width: 100%;
  max-width: 480px;
}
.pageModal.containing-box .container .person:after {
  content: " ";
  display: block;
  clear: both;
}
.pageModal.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #614051;
  opacity: 0.8;
  display: none;
}
.pageModal.containing-box {
  position: fixed;
  left: 50%;
  margin-left: -37.5%;
  z-index: 2;
}
.pageModal.containing-box .container {
  float: left;
}
.pageModal.containing-box .exit {
  float: right;
  background-image: url('/img/assets/close_button.png');
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.pageModal.containing-box:after {
  content: " ";
  display: block;
  clear: both;
}
.pageModal {
  display: none;
}
.pageModal.show {
  display: block;
}
