/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* latin */
@font-face {
  font-family: 'Cedarville Cursive';
  font-style: normal;
  font-weight: 400;
  src: local('Cedarville Cursive'), local('Cedarville-Cursive'), url(https://fonts.gstatic.com/s/cedarvillecursive/v7/cuCe6HrkcqrWTWTUE7dw-4iNpYP4ormdS933dwqOPYU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Just Me Again Down Here';
  font-style: normal;
  font-weight: 400;
  src: local('Just Me Again Down Here'), local('JustMeAgainDownHere'), url(https://fonts.gstatic.com/s/justmeagaindownhere/v8/sN06iTc9ITubLTgXoG-kc9LxhifvsZyFlIktPLD8SVhSjxrNWc6TL5x1_u3zzrgH.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Just Me Again Down Here';
  font-style: normal;
  font-weight: 400;
  src: local('Just Me Again Down Here'), local('JustMeAgainDownHere'), url(https://fonts.gstatic.com/s/justmeagaindownhere/v8/sN06iTc9ITubLTgXoG-kcxBxoRNZkC32eJ50uEAK8oQC1LhKU8qFLLahJuQDJSaO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(https://fonts.gstatic.com/s/greatvibes/v4/6q1c0ofG6NKsEhAc2eh-3aE8kM4xWR1_1bYURRojRGc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(https://fonts.gstatic.com/s/greatvibes/v4/6q1c0ofG6NKsEhAc2eh-3Ygp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body div.website {
  margin: 0 auto;
  min-width: 800px;
  max-width: 1200px;
}
div[package='Wedding.modules'] h2 {
  color: #614051;
  font-family: 'Great Vibes', cursive;
  font-size: 24px;
}
div.Content[package='Wedding.modules'] {
  width: 100%;
}
div.Content[package='Wedding.modules'] div.sections {
  max-width: 90%;
  min-width: 600px;
  min-height: 500px;
  margin: 10px;
  display: none;
  background-color: white;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
div.Content[package='Wedding.modules'] div.sections > div {
  display: none;
}
div.Content[package='Wedding.modules'] div.sections iframe {
  opacity: 1;
}
div[package='Wedding.modules'].EventInformation .information {
  color: #614051;
}
div[package='Wedding.modules'].EventInformation .information div.widget {
  margin-bottom: 35px;
}
div[package='Wedding.modules'].EventInformation .information div.widget div[package='Wedding.widgets'].Countdown {
  font-family: "Just Me Again Down Here", Verdana, Geneva, sans-serif;
  font-size: 30px;
  height: 40px;
  padding: 0;
}
div[package='Wedding.modules'].EventInformation .information div.widget div[package='Wedding.widgets'].Countdown div {
  float: left;
  color: white;
}
div[package='Wedding.modules'].EventInformation .information div.widget div[package='Wedding.widgets'].Countdown div.unit {
  background-color: #614051;
  width: 45px;
  height: 100%;
  margin: 0 10px 0 0px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
div[package='Wedding.modules'].EventInformation .information div.widget div[package='Wedding.widgets'].Countdown div.unit div {
  text-align: center;
  font-family: Arial;
  width: 100%;
  color: white;
}
div[package='Wedding.modules'].EventInformation .information div.widget div[package='Wedding.widgets'].Countdown div.unit div:nth-child(1) {
  font-size: 24px;
}
div[package='Wedding.modules'].EventInformation .information div.widget div[package='Wedding.widgets'].Countdown div.unit div:nth-child(2) {
  font-size: 10px;
}
div[package='Wedding.modules'].EventInformation .information div.location h4 {
  margin-bottom: 5px;
}
div.Footer[package='Wedding.modules'] {
  width: 100%;
  height: 50px;
  background-color: #614051;
  color: white;
}
div.Footer[package='Wedding.modules'] div.copyright {
  text-align: center;
  vertical-align: middle;
  line-height: 3.5em;
}
div.Header[package='Wedding.modules'] {
  background-color: #614051;
  color: white;
  width: 100%;
}
div.Header[package='Wedding.modules'] div.title {
  float: left;
}
div.Header[package='Wedding.modules'] div.title div:nth-child(1) {
  font-family: 'Great Vibes', cursive;
  font-weight: 700;
  font-size: 36px;
  margin: 7px 20px 0 30px;
  float: left;
}
div.Header[package='Wedding.modules'] div.title div:nth-child(2) {
  font-size: 20px;
  margin: 25px 0;
  padding: 0 20px;
  border: 1px solid gray;
  border-width: 0 1px 0 1px;
  float: left;
}
div.Header[package='Wedding.modules'] ul.sections {
  float: left;
  margin: 15px;
}
div.Header[package='Wedding.modules'] ul.sections li {
  font-size: 18px;
  list-style: none;
  float: left;
  margin: 0px 10px 0 25px;
  padding: 10px;
  cursor: pointer;
}
div.OurStory[package='Wedding.modules'] {
  width: 100%;
}
div.OurStory[package='Wedding.modules'] div.portrait {
  margin: 0 auto;
  min-height: 417px;
  width: 100%;
  background-position: 0 50%;
  background-size: cover;
  background-image: url("../img/his_hers_original_scale.jpg");
  background-repeat: no-repeat;
}
div.OurStory[package='Wedding.modules'] .story {
  color: #614051;
}
div[package='Wedding.modules'].TheWeddingParty .gallery .person {
  cursor: pointer;
  float: left;
  margin: 5px;
  background-color: #614051;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;
  color: white;
}
div[package='Wedding.modules'].TheWeddingParty .gallery .person .photo {
  width: 200px;
  height: 200px;
}
div[package='Wedding.modules'].TheWeddingParty .gallery .person .photo img {
  display: none;
}
div[package='Wedding.modules'].TheWeddingParty .gallery .person .about {
  display: none;
}
div[package='Wedding.modules'].TheWeddingParty .cannotSeeThis {
  display: none;
}
.person .photo {
  background-image: url('http://www.solarworlds.co.uk/photo/photos/20080222_PurpleOrchids_700x700med.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.person .photo img {
  display: none;
}
.pageModal .container .person .photo {
  float: left;
  min-width: 50px;
  min-height: 50px;
  max-width: 600px;
  max-height: 500px;
}
.pageModal .container .person .photo img.show {
  display: inline;
}
.pageModal .container .person .info {
  float: left;
  color: white;
}
.pageModal {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
}
.pageModal .containing-box {
  margin: 0 auto;
  min-width: 200px;
  min-height: 200px;
  position: fixed;
}
.pageModal .containing-box .container {
  color: white;
}
.pageModal .containing-box .exit {
  background-image: url('/img/assets/close_button.png');
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.pageModal.show {
  display: block;
}
