/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* latin-ext */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(https://fonts.gstatic.com/s/greatvibes/v4/6q1c0ofG6NKsEhAc2eh-3aE8kM4xWR1_1bYURRojRGc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(https://fonts.gstatic.com/s/greatvibes/v4/6q1c0ofG6NKsEhAc2eh-3Ygp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* opentype */
@font-face {
  font-family: 'Texgyrechorus';
  src: url("/fonts/texgyrechorus-mediumitalic.otf") format("opentype");
}
/* @theme-color: rgb(97,64,81); */
/*@body-color: rgb(221, 219, 227);*/
.themed-background {
  background-color: RebeccaPurple;
}
.default-body-font {
  font-family: 'PT Sans', helvetica, arial, sans-serif;
  font-size: 11pt;
}
body {
  margin: 0;
  background-color: white;
  font-family: 'PT Sans', helvetica, arial, sans-serif;
  font-size: 11pt;
}
body div.website {
  width: 100%;
  position: relative;
  margin-top: 60px;
  z-index: 1;
}
body div.website div[package='Wedding.modules'] h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 24pt;
  text-align: center;
  margin: 0;
  line-height: 0.1em;
  width: 100%;
  border-top: 1px solid black;
}
body div.website div[package='Wedding.modules'] h2 span {
  background-color: white;
  padding: 0 10px;
}
body div.website div.Content[package='Wedding.modules'] {
  width: 850px;
  margin: 0 auto;
}
body .table {
  border: 1px solid black;
  border-width: 1px 0 0 1px;
}
body .table .row {
  display: block;
}
body .table .row .cell {
  width: 150px;
  float: left;
  border: 1px solid black;
  border-width: 0 1px 1px 0;
}
body .table:after {
  content: " ";
  display: block;
  clear: both;
}
a:link,
.lookLikeALink {
  color: blue;
  text-decoration: none;
}
a:link:hover,
.lookLikeALink:hover {
  text-decoration: underline;
}
.clearFloat {
  content: " ";
  display: block;
  clear: both;
}
/********************* Portrait backgrounds ******************************/
div.Content[package='Wedding.modules'] .portrait {
  width: 850px;
  height: 325px;
  position: relative;
  overflow: hidden;
}
div.Content[package='Wedding.modules'] .portrait div.slider {
  z-index: 0;
  width: 850px;
  height: 325px;
  margin-left: 0;
  position: relative;
}
div.Content[package='Wedding.modules'] .portrait div.slider div.slide {
  width: 850px;
  height: 325px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}
div.Content[package='Wedding.modules'] .portrait div.slider .rocky_mountain_natl_park {
  background-position: 0 84%;
  background-image: url("../img/rocky_mountain_natl_park.jpg");
}
div.Content[package='Wedding.modules'] .portrait div.slider .his_and_hers {
  background-position: 0 34%;
  background-image: url("../img/his_hers_original_scale.jpg");
}
div.Content[package='Wedding.modules'] .portrait div.slider .big_sur {
  background-position: 0 70%;
  background-image: url("../img/bigSur2.jpg");
}
div.Content[package='Wedding.modules'] .portrait div.slider .bay_bridge {
  background-position: 0 85%;
  background-image: url("../img/BayBridge.JPG");
}
div.Content[package='Wedding.modules'] .portrait div.slider .south_africa {
  background-position: 0 30%;
  background-image: url("../img/SouthAfricaPier.jpg");
}
div.Content[package='Wedding.modules'] .portrait div.slider .sacramento {
  background-position: 0 50%;
  background-image: url("../img/Sacramento.jpg");
}
div.Content[package='Wedding.modules'] .portrait div.slider .seattle_wheel {
  background-position: 0 50%;
  background-image: url("../img/SeattleWheel.JPG");
}
div.Content[package='Wedding.modules'] .portrait div.slider .space_needle {
  background-position: 0 78%;
  background-image: url("../img/SpaceNeedle.JPG");
}
div.Content[package='Wedding.modules'] .portrait div.slider div.slide:after {
  content: " ";
  display: block;
  clear: both;
}
div.Content[package='Wedding.modules'] .portrait div.slidernav {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 40px;
  top: 126px;
  cursor: pointer;
  background-image: url('../img/assets/leftArrow.png');
  width: 28px;
  height: 45px;
  background-position: -10px 50%;
}
div.Content[package='Wedding.modules'] .portrait div.slidernav.left {
  left: 10px;
}
div.Content[package='Wedding.modules'] .portrait div.slidernav.right {
  right: 10px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
div.Content[package='Wedding.modules'] .portrait div.slidernav:after {
  content: " ";
  display: block;
  clear: both;
}
div.Content[package='Wedding.modules'] .portrait div.banner {
  position: absolute;
  top: 100px;
  left: 300px;
  color: white;
  z-index: 1;
}
div.Content[package='Wedding.modules'] .portrait div.banner div:nth-child(1) {
  font-family: 'Great Vibes', cursive;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding-top: 100px;
}
div.Content[package='Wedding.modules'] .portrait div.banner div:nth-child(2) {
  font-size: 20pt;
  text-align: center;
  padding: 0 20px;
}
div.Content[package='Wedding.modules'] div.widget {
  width: 100%;
  margin: 40px 0;
}
div.Content[package='Wedding.modules'] div.widget div[package='Wedding.widgets'].Countdown {
  height: 40px;
  padding: 0;
  width: 550px;
  margin: 0 auto;
}
div.Content[package='Wedding.modules'] div.widget div[package='Wedding.widgets'].Countdown > div {
  float: left;
  margin: 0 10px 0 0px;
}
div.Content[package='Wedding.modules'] div.widget div[package='Wedding.widgets'].Countdown div.unit {
  background-color: RebeccaPurple;
  background-position: 0 -15px;
  width: 45px;
  height: 100%;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
div.Content[package='Wedding.modules'] div.widget div[package='Wedding.widgets'].Countdown div.unit div {
  text-align: center;
  width: 100%;
  color: white;
}
div.Content[package='Wedding.modules'] div.widget div[package='Wedding.widgets'].Countdown div.unit div:nth-child(1) {
  font-size: 24px;
}
div.Content[package='Wedding.modules'] div.widget div[package='Wedding.widgets'].Countdown div.unit div:nth-child(2) {
  font-size: 8pt;
}
div.Content[package='Wedding.modules'] div[package='Wedding.modules'] {
  margin: 30px 0 0 0;
}
div.Content[package='Wedding.modules'] div.widget:after {
  content: " ";
  display: block;
  clear: both;
}
div.Content[package='Wedding.modules'] div.sections {
  max-width: 90%;
  min-width: 600px;
  min-height: 500px;
  margin: 10px;
  display: none;
  background-color: white;
  padding: 10px;
}
div.Content[package='Wedding.modules'] div.sections > div {
  display: none;
}
div.Content[package='Wedding.modules'] div.sections iframe {
  opacity: 1;
}
div[package='Wedding.modules'].EventInformation .information .specifics {
  margin: 20px 0;
}
div[package='Wedding.modules'].EventInformation .information div.specifics .location {
  float: left;
}
div[package='Wedding.modules'].EventInformation .information div.specifics .map {
  float: right;
}
div[package='Wedding.modules'].EventInformation .information div.specifics div:nth-child(3) {
  content: " ";
  display: block;
  clear: both;
}
div.Footer[package='Wedding.modules'] {
  width: 100%;
  height: 50px;
  background-image: url('/img/assets/eclipse_gradient.png');
  background-position: 0 -10px;
  color: white;
}
div.Footer[package='Wedding.modules'] div.copyright {
  text-align: center;
  vertical-align: middle;
  line-height: 3.5em;
}
div.Header[package='Wedding.modules'] {
  width: 100%;
  background-color: RebeccaPurple;
  background-position: 0 -44px;
  color: white;
  position: fixed;
  z-index: 200;
  height: 60px;
  top: 0;
  left: 0;
}
div.Header[package='Wedding.modules'] div.container {
  width: 100%;
  float: left;
}
div.Header[package='Wedding.modules'] div.container div.sections {
  width: 850px;
  margin: 0 auto;
  padding: 20px 0;
}
div.Header[package='Wedding.modules'] div.container div.sections ul {
  text-align: right;
  margin: 0;
}
div.Header[package='Wedding.modules'] div.container div.sections ul li {
  font-size: 12pt;
  list-style: none;
  float: left;
  margin: 0 0 0 30px;
  cursor: pointer;
}
div.Header[package='Wedding.modules'] div.container div.sections:after {
  content: " ";
  display: block;
  clear: both;
}
div.Header[package='Wedding.modules'] div.container:after {
  content: " ";
  display: block;
  clear: both;
}
div.OurStory[package='Wedding.modules'] {
  width: 100%;
}
div.OurStory[package='Wedding.modules'] .story {
  width: 850px;
}
div.OurStory[package='Wedding.modules'] .story .chapter {
  width: 850px;
  font-size: 10pt;
}
div.OurStory[package='Wedding.modules'] .story .chapter h5 {
  margin: 10 auto;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
div.OurStory[package='Wedding.modules'] .story .chapter div {
  float: left;
  width: 408px;
}
div.OurStory[package='Wedding.modules'] .story .chapter div .who {
  font-weight: bold;
}
div.OurStory[package='Wedding.modules'] .story .chapter .kathryn {
  margin-right: 17px;
}
div.OurStory[package='Wedding.modules'] .story .chapter .raymond {
  margin-left: 17px;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids,
div[package='Wedding.modules'].TheWeddingParty .groomsmen {
  width: 408px;
  float: left;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids .group,
div[package='Wedding.modules'].TheWeddingParty .groomsmen .group {
  font-size: 20pt;
  text-align: center;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids .gallery .person:hover .name,
div[package='Wedding.modules'].TheWeddingParty .groomsmen .gallery .person:hover .name {
  text-decoration: underline;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids .gallery .person,
div[package='Wedding.modules'].TheWeddingParty .groomsmen .gallery .person {
  cursor: pointer;
  color: blue;
  text-decoration: none;
  margin: 15px auto;
  margin: 5px;
  padding: 3px;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids .gallery .person .name,
div[package='Wedding.modules'].TheWeddingParty .groomsmen .gallery .person .name {
  width: 208px;
  float: left;
  text-align: center;
  line-height: 150px;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids .gallery .person .photo,
div[package='Wedding.modules'].TheWeddingParty .groomsmen .gallery .person .photo {
  float: left;
  width: 200px;
  height: 200px;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids .gallery .person .photo img,
div[package='Wedding.modules'].TheWeddingParty .groomsmen .gallery .person .photo img {
  display: none;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids .gallery .person .role,
div[package='Wedding.modules'].TheWeddingParty .groomsmen .gallery .person .role {
  display: none;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids .gallery .person .about,
div[package='Wedding.modules'].TheWeddingParty .groomsmen .gallery .person .about {
  display: none;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids {
  margin-right: 17px;
}
div[package='Wedding.modules'].TheWeddingParty .groomsmen {
  margin-left: 17px;
}
div[package='Wedding.modules'].TheWeddingParty .cannotSeeThis {
  display: none;
}
div[package='Wedding.modules'].TheWeddingParty .bridesmaids:after,
div[package='Wedding.modules'].TheWeddingParty .groomsmen:after {
  content: " ";
  display: block;
  clear: both;
}
.person .photo {
  background-image: url('http://www.solarworlds.co.uk/photo/photos/20080222_PurpleOrchids_700x700med.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.person .photo img {
  display: none;
}
.pageModal.containing-box {
  background-color: white;
}
.pageModal.containing-box .container {
  padding: 5px;
}
.pageModal.containing-box .container .person .photo {
  float: left;
  min-width: 200px;
  min-height: 200px;
  max-width: 500px;
  max-height: 500px;
  margin: 10px;
}
.pageModal.containing-box .container .person .photo img.show {
  display: inline;
}
.pageModal.containing-box .container .person .info {
  float: left;
  width: 400px;
  height: 100%;
}
.pageModal.containing-box .container .person .info div {
  margin: 10px;
}
.pageModal.containing-box .container .person .info .name {
  font-size: 18pt;
}
.pageModal.containing-box .container .person:after {
  content: " ";
  display: block;
  clear: both;
}
div[package='Wedding.modules'].TravelInfo .first-three-width {
  width: 256.68px;
}
div[package='Wedding.modules'].TravelInfo div div.seeMore {
  display: hidden;
}
div[package='Wedding.modules'].TravelInfo div .show-only-in-modal {
  display: none;
}
div[package='Wedding.modules'].TravelInfo div.air-travel,
div[package='Wedding.modules'].TravelInfo div.accommodations,
div[package='Wedding.modules'].TravelInfo div.ground-transport {
  float: left;
  width: 256.68px;
}
div[package='Wedding.modules'].TravelInfo div.air-travel .prev,
div[package='Wedding.modules'].TravelInfo div.accommodations .prev,
div[package='Wedding.modules'].TravelInfo div.ground-transport .prev {
  width: 256.68px;
  height: 160px;
}
div[package='Wedding.modules'].TravelInfo div.air-travel div.prev,
div[package='Wedding.modules'].TravelInfo div.accommodations div.prev,
div[package='Wedding.modules'].TravelInfo div.ground-transport div.prev {
  background-position: 0 50%;
  background-size: cover;
}
div[package='Wedding.modules'].TravelInfo div.air-travel h4,
div[package='Wedding.modules'].TravelInfo div.accommodations h4,
div[package='Wedding.modules'].TravelInfo div.ground-transport h4 {
  font-family: 10pt;
}
div[package='Wedding.modules'].TravelInfo div.air-travel div.prev {
  background-image: url('/img/AirTravelPlane.jpg');
}
div[package='Wedding.modules'].TravelInfo div.accommodations div.prev {
  background-image: url('/img/maple-tree-inn.jpg');
  background-position-y: -50px;
}
div[package='Wedding.modules'].TravelInfo div.ground-transport div.prev {
  background-image: url('/img/Classic-cable-car.jpg');
}
div[package='Wedding.modules'].TravelInfo div.accommodations {
  margin: 0 25.5px;
}
div[package='Wedding.modules'].TravelInfo div.accommodations .table {
  width: 250px;
  border-color: #601a78;
}
div[package='Wedding.modules'].TravelInfo div.accommodations .table .row .cell {
  border-color: #601a78;
  padding: 3px;
}
div[package='Wedding.modules'].TravelInfo div.accommodations .table .row .cell:nth-child(1) {
  width: 60px;
}
div[package='Wedding.modules'].TravelInfo div.accommodations .table .row .cell:nth-child(2) {
  width: 60px;
  text-align: right;
}
div[package='Wedding.modules'].TravelInfo div.accommodations .table .row .cell:nth-child(3) {
  width: 60px;
  text-align: right;
}
div[package='Wedding.modules'].TravelInfo div.things-to-do {
  width: 100%;
}
div[package='Wedding.modules'].TravelInfo div.topic .info {
  max-height: 500px;
  text-overflow: ellipsis;
  overflow: hidden;
}
div[package='Wedding.modules'].TravelInfo div.topic .info .inner {
  font-size: 10pt;
}
div[package='Wedding.modules'].TravelInfo div.topic a.seeMore,
div[package='Wedding.modules'].TravelInfo div.topic a.hideOverflow {
  display: none;
  font-size: 10pt;
  text-decoration: none;
}
div[package='Wedding.modules'].TravelInfo div.topic.exempted .info {
  max-height: none;
}
div[package='Wedding.modules'].TravelInfo div.topic.exempted a.seeMore {
  display: none;
}
div[package='Wedding.modules'].TravelInfo div.topic.exempted a.hideOverflow {
  display: block;
}
div[package='Wedding.modules'].TravelInfo div.topic.overflown a.seeMore {
  display: block;
}
div[package='Wedding.modules'].TravelInfo div.topic.overflown a.hideOverflow {
  display: none;
}
div[package='Wedding.modules'].TravelInfo div.clear {
  content: " ";
  display: block;
  clear: both;
  height: 1px;
}
.pageModal.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 301;
  width: 100%;
  height: 100%;
  background-color: #601a78;
  opacity: 0.8;
  display: none;
}
.pageModal.containing-box {
  position: fixed;
  left: 50%;
  margin-left: -37.5%;
  z-index: 401;
}
.pageModal.containing-box .container {
  float: left;
}
.pageModal.containing-box button.exit {
  background-color: RebeccaPurple;
  border: 2px solid #fff;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 8px #000;
  box-shadow: 0 0 8px #000;
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  opacity: 1;
  padding: 2px 6px;
  position: absolute;
  text-decoration: none;
  top: -15px;
  right: -15px;
  z-index: 402;
  cursor: pointer;
}
.pageModal.containing-box:after {
  content: " ";
  display: block;
  clear: both;
}
.pageModal {
  display: none;
}
.pageModal.show {
  display: block;
}
